* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}
.form-section h2 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(79, 77, 85);
}
.form-section .form-group {
  border: 1px solid rgb(230, 230, 230);
  max-height: 60px;
  border-radius: 8px;
  position: relative;
  padding: 5px 0;
  margin-right: 30px;
}
.form-section .form-group .help-circle {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  right: -30px;
  background: url("images/help-circle-contained-filled.svg") no-repeat center;
  width: 24px;
  height: 24px;
}
.form-section .form-group .help-circle p {
  display: none;
  color: rgb(79, 77, 85);
}
.form-section .form-group .help-circle:hover p {
  display: block;
  background-color: rgb(248, 248, 248);
  max-width: 450px;
  width: 450px;
  margin-left: 40px;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 4px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.form-section .form-group .help-circle:hover p:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
  width: 6px;
  height: 14px;
  background: url("images/help-circle-flag.svg") no-repeat center;
}
.form-section .form-group .help-circle:hover p span {
  display: flex;
  margin-bottom: 15px;
}
.form-section .form-group .form-text-area,
.form-section .form-group .form-control {
  border: none;
  width: 100%;
  padding: 0 12px;
}
.form-section .form-group .form-control {
  height: 50px;
}
.form-section .form-group .form-label {
  position: absolute;
  top: 21px;
  left: 12px;
  color: rgb(127, 125, 131);
}
.form-section .form-group .form-file-delete {
  display: none;
}
.form-section .form-group .form-file-delete,
.form-section .form-group .form-clear {
  position: absolute;
  top: 6px;
  right: 6px;
  color: rgb(201, 201, 204);
  background: url("images/icon-close.svg") no-repeat center;
  width: 14px;
  height: 14px;
  border: none;
  cursor: pointer;
}
.form-section .form-group .invalid-feedback {
  display: none;
}
.form-section .form-group .invalid-feedback,
.form-section .form-group .has-error {
  color: rgb(225, 33, 33);
}
.form-section .form-group.has-error {
  border: 1px solid rgb(225, 33, 33);
  margin-bottom: 40px;
}
.form-section .form-group.has-error .invalid-feedback {
  display: block;
  position: relative;
  bottom: -20px;
  left: 0;
  font-size: 12px;
}
.form-section textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.form-section .text-area {
  padding: 12px;
  max-height: 120px;
  height: 110px;
}
.form-section .form-text-area {
  resize: none;
  height: 80px;
  padding: 10px 0 !important;
  overflow: hidden;
}
.form-section .disabled {
  border: 1px dashed rgb(201, 201, 204);
  background: rgb(241, 241, 241);
  opacity: 0.8;
}
.form-section .form-group-file {
  height: 82px;
  max-height: 82px;
  border: 1px dashed rgb(230, 230, 230);
}
.form-section .form-group-file.has-error {
  border: 1px dashed rgb(225, 33, 33);
}
.form-section .form-group-file.has-error .invalid-feedback {
  bottom: -90px;
}
.form-section .form-group-file.has-error:before {
  background-image: url("images/zip-error.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 666;
  left: 16px;
}
.form-section .form-group-file.has-error:before .form-label {
  top: 50%;
  transform: translateY(-50%);
}
.form-section .form-group-file:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  background: rgb(248, 248, 248);
  border-radius: 8px;
  background-image: url("images/Zip.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 24px;
  padding: 13px 15px;
}
.form-section .form-group-file input {
  display: none;
}
.form-section .form-group-file .form-label {
  color: rgb(79, 77, 85);
}
.form-section .form-group-file .form-label {
  left: 85px;
  top: 50%;
  transform: translateY(-50%);
}
.form-section .form-group-file .form-sub-label {
  color: rgb(201, 201, 204);
  position: absolute;
  top: 50px;
  left: 85px;
}

/*# sourceMappingURL=style.css.map */
