@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
}

.d-flex {
  display: flex;
}

.justy-space-between {
  justify-content: space-between;
}

.btn {
  text-align: center;
  display: block;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgb(23, 81, 208);
  padding: 14px 0;
  width: 100%;
  border: none;
  cursor: pointer;
}

.custom-prev,
.custom-next {
  cursor: pointer;
  position: absolute;
  top: -60px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  content: "";
}

.custom-prev {
  right: 65px;
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.modal-content {
  position: relative;
  overflow: hidden;
  background: #F9F9F9;
  border-radius: 8px;
  max-width: 1160px;
  width: 100%;
  max-height: 550px;
  height: 100%;
  padding: 40px;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: url("images/btn-close.svg") no-repeat center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

i:before {
  position: relative;
  font-size: 24px;
  top: -2px;
}

.modal-image {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-image img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.open {
  display: flex;
}

@media screen and (max-width: 1260px) {
  .container {
    padding: 0 20px;
  }
}
.header {
  padding: 15px 0;
  border-bottom: 1px solid rgb(230, 230, 230);
  background: rgb(255, 255, 255);
}
.header-content {
  align-items: center;
  justify-content: space-between;
}
.header-content .git-and-login {
  gap: 30px;
}
.header-content .git-and-login .login {
  align-items: center;
  gap: 4px;
}
.header-content .git-and-login .login a {
  color: rgb(79, 77, 85);
  text-decoration: none;
}
.header-content .nav-menu {
  list-style-type: none;
  gap: 30px;
}
.header-content .nav-menu a {
  text-decoration: none;
  color: rgb(79, 77, 85);
  padding-bottom: 5px;
  line-height: 20.8px;
}
.header-content .nav-menu a.active,
.header-content .nav-menu a:hover {
  color: rgb(23, 81, 208);
  font-weight: 500;
  border-bottom: 1px solid rgb(23, 81, 208);
}
.header-content .burger-menu {
  position: relative;
  display: none;
}
.header-content .burger-menu i {
  display: none;
  cursor: pointer;
  color: rgb(10, 9, 11);
  width: 34px;
  height: 34px;
}
.header-content .burger-menu i:before {
  font-size: 34px;
  right: 2px;
}
.header-content .burger-icon {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.header-content .burger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
}
.header-content .burger-icon span:nth-child(1) {
  top: 0;
}
.header-content .burger-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.header-content .burger-icon span:nth-child(3) {
  bottom: 0;
}
.header-content .menu-items {
  display: none;
  position: absolute;
  width: 280px;
  top: 54px;
  left: -226px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 669;
}
.header-content .menu-items .git-and-login-mobile {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
}
.header-content .menu-items .git-and-login-mobile img {
  max-width: 95px;
}
.header-content .menu-items li {
  margin-bottom: 20px;
}
.header-content .menu-items li a:hover {
  border-bottom: none;
}
.header-content .menu-items li:last-child {
  border-bottom: 1px solid rgb(201, 201, 204);
  padding-bottom: 20px;
}
.header-content .menu-items a {
  color: rgb(79, 77, 85);
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .burger-menu {
    display: inline-block !important;
  }
  .git-and-login,
  .header-menu {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header-content .menu-items {
    position: fixed;
    top: 74px;
    left: 0;
    width: 100%;
  }
}
.banner {
  background: url("images/banner.svg") no-repeat;
  background-size: 100%;
  color: rgb(255, 255, 255);
  margin-bottom: 100px;
}
.banner-first-text {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
}
.banner-content {
  gap: 77px;
  padding: 75px 0 100px 0;
}
.banner-content-item {
  align-self: flex-end;
  margin-bottom: 40px;
  flex-basis: 50%;
}
.banner-content-item h1 {
  font-size: 140px;
  font-weight: 500;
}
.banner-content-item span {
  font-size: 14px;
  margin-bottom: 15px;
}
.banner-content-item .btn {
  max-width: 270px;
}

@media screen and (max-width: 1400px) {
  .banner {
    background-size: auto;
  }
}
@media screen and (max-width: 1000px) {
  .banner {
    background-position-x: -440px;
  }
  .banner-content {
    padding: 100px 0 100px 0;
    gap: 0;
    flex-direction: column;
  }
  .banner-content-item {
    align-self: start;
    position: relative;
    margin-bottom: 20px;
  }
  .banner-content-item .banner-first-text {
    margin-bottom: 0;
  }
  .banner-content-item .btn {
    position: absolute;
    top: 150%;
    left: 0;
  }
}
@media screen and (max-width: 750px) {
  .banner-content-item h1 {
    font-size: 100px;
  }
  .banner-content-item p {
    font-size: 13px;
  }
  .banner-content-item .btn {
    top: 160%;
  }
}
@media screen and (max-width: 550px) {
  .banner-content-item .btn {
    top: 170%;
  }
}
@media screen and (max-width: 450px) {
  .banner {
    background: url("images/mobile-background-banner.svg") no-repeat;
    background-size: 420px;
    background-position-x: 0;
    background-position-y: -65px;
  }
  .banner-content-item .btn {
    top: 188%;
  }
}
.main-content .problems {
  margin-bottom: 100px;
}
.main-content .problems-content-list {
  gap: 20px;
}
.main-content .problems-content-item {
  flex-basis: 33.3333%;
  padding: 20px;
  border-radius: 8px;
  background: rgb(248, 248, 248);
}
.main-content .problems-content-item .blue-square {
  margin-bottom: 45px;
}
.main-content h2 {
  color: rgb(23, 81, 208);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
}
.main-content .blue-square {
  background: rgb(23, 81, 208);
  border-radius: 6px;
  max-width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}
.main-content .blue-square .white-circle {
  background: rgb(255, 255, 255);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

@media screen and (max-width: 750px) {
  .problems-content-list {
    flex-wrap: wrap;
  }
  .problems-content-list .problems-content-item {
    flex-basis: calc(50% - 10px);
  }
}
@media screen and (max-width: 550px) {
  .problems-content-list .problems-content-item {
    flex-basis: 100%;
  }
}
.about-project {
  margin-bottom: 100px;
  background: url("images/about-problems-bg.svg") no-repeat;
  background-position-y: 65px;
  background-position-x: -150px;
  background-size: contain;
  object-fit: contain;
}
.about-project-blocks {
  display: flex;
}
.about-project-blocks-left {
  flex-basis: 50%;
}
.about-project-blocks-right {
  flex-basis: 50%;
  flex-direction: column;
  gap: 20px;
}
.about-project-blocks-item {
  border-radius: 8px;
  background: rgb(248, 248, 248);
  padding: 20px;
}
.about-project-blocks-item .blue-square {
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 750px) {
  .about-project-blocks {
    flex-direction: column;
  }
}
.participants {
  position: relative;
  margin-bottom: 100px;
}
.participants .custom-prev.slick-disabled i,
.participants .custom-next.slick-disabled i {
  color: rgb(201, 201, 204);
}
.participants .custom-prev i {
  left: -1px;
}
.participants .custom-next i {
  left: 1px;
}
.participants i {
  color: rgb(23, 81, 208);
}
.participants .slider {
  width: 100%;
}
.participants .slide {
  flex-basis: 25%;
  background: rgb(248, 248, 248);
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 15px;
  flex-direction: column;
  border-radius: 8px;
}
.participants .slide h3 {
  color: rgb(79, 77, 85);
  margin-bottom: 10px;
}
.participants .slide p {
  color: rgb(127, 125, 131);
  font-size: 14px;
}
.participants .slick-slide {
  margin: 0 15px;
  padding: 20px 15px;
}
.participants .slide img {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

@media screen and (max-width: 460px) {
  .participants h2 {
    margin-bottom: 75px;
  }
  .participants .slider .custom-prev,
  .participants .slider .custom-next {
    right: auto;
    left: 0;
  }
  .participants .slider .custom-next {
    left: 50px;
  }
  .participants .slider .slick-slide {
    margin: 0 30px 0 0;
  }
}
.header-main {
  margin-bottom: 60px;
}

.about-us {
  max-width: 670px;
}
.about-us-img {
  cursor: pointer;
  margin-bottom: 50px;
}
.about-us-item {
  margin-bottom: 50px;
}
.about-us-item:last-child {
  margin-bottom: 80px;
}
.about-us p {
  color: rgb(127, 125, 131);
  margin-bottom: 20px;
}
.about-us span {
  color: rgb(79, 77, 85);
  font-weight: 500;
}
.about-us h2 {
  color: rgb(23, 81, 208);
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about-us .second-title {
  font-size: 24px;
}
.about-us-links {
  margin-bottom: 100px;
  flex-direction: column;
  gap: 20px;
}
.about-us-links-item {
  align-items: center;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.about-us-links-item p {
  padding-left: 20px;
  position: relative;
  max-width: 200px;
  width: 100%;
  color: rgb(79, 77, 85);
}
.about-us-links-item p:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: url("images/bullet.svg") no-repeat center;
  width: 10px;
  height: 10px;
}
.about-us-links-item:last-child {
  border-bottom: none;
}
.about-us-links-item div {
  margin-bottom: 20px;
}
.about-us-links-item div a {
  color: rgb(23, 81, 208);
  word-wrap: break-word;
}

.modal-wrapper-image .btn-close {
  color: rgb(79, 77, 85);
}

@media screen and (max-width: 750px) {
  .about-us {
    max-width: 100%;
  }
  .about-us img {
    max-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .about-us {
    max-width: 100%;
  }
  .about-us .second-title {
    font-size: 20px;
  }
  .about-us h2 {
    font-size: 24px;
  }
  .about-us img {
    max-width: 100%;
  }
  .about-us-item p {
    font-size: 14px;
  }
  .about-us-links-item {
    align-items: start;
    flex-direction: column;
  }
  .about-us-links-item p {
    margin-bottom: 8px;
  }
}
.question {
  margin-bottom: 100px;
}
.question h1 {
  font-size: 45px;
  font-weight: 500;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-bottom: 25px;
  color: rgb(23, 81, 208);
}
.question-item {
  position: relative;
  margin-bottom: 25px;
  border-bottom: 1px solid rgb(230, 230, 230);
  color: rgb(127, 125, 131);
}
.question-item .custom-next {
  top: -10px;
  right: 0;
}
.question-item .custom-next i:before {
  color: rgb(23, 81, 208);
  left: 1px;
}
.question-item h2 {
  position: relative;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(79, 77, 85);
  cursor: pointer;
  z-index: 666666;
}
.question-item p {
  max-width: 800px;
  display: none;
}
.question-item:last-child {
  margin-bottom: 0;
}
.question-item .open-text {
  display: block;
  padding-bottom: 30px;
}

@media screen and (max-width: 850px) {
  .question h1 {
    font-size: 24px;
  }
  .question-item h2 {
    font-size: 16px;
    padding-right: 40px;
  }
  .question-item .open-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .question-item h2 {
    padding-right: 70px;
  }
}
.personal-area {
  margin-bottom: 100px;
}
.personal-area-none {
  display: none;
}
.personal-area-none .personal-area-block-down {
  padding: 155px 180px;
}
.personal-area-content {
  gap: 20px;
}
.personal-area-content-item {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  width: 100%;
}
.personal-area-content-item .out-login {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}
.personal-area-content-item .out-login i {
  margin: 0;
  top: 0;
  right: 0;
}
.personal-area-content-item .out-login i:before {
  transform: rotate(90deg);
  top: 1px;
}
.personal-area-content-item:first-child {
  flex-direction: column;
  padding: 25px 30px;
  gap: 6px;
  flex-basis: 30%;
}
.personal-area-content-item:last-child {
  flex-basis: 70%;
}
.personal-area-content-item h3 {
  color: rgb(79, 77, 85);
  font-size: 20px;
}
.personal-area-content-item .personal-area-block-up {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 30px 30px 23px;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.personal-area-content-item .personal-area-block-up .btn {
  display: block;
  border: none;
  max-width: 170px;
}
.personal-area-content-item .personal-area-block-up .count-submit {
  gap: 8px;
  align-items: center;
}
.personal-area-content-item .personal-area-block-up h2 {
  font-size: 24px;
  color: rgb(23, 81, 208);
  font-weight: 500;
}
.personal-area-content-item .personal-area-block-up span {
  color: rgb(127, 125, 131);
  background: rgb(248, 248, 248);
  padding: 2px 8px;
  border-radius: 4px;
}
.personal-area-content-item .none-submit {
  align-items: center;
}
.personal-area-content-item .personal-area-block-down {
  flex-direction: column;
  gap: 15px;
}
.personal-area-content-item .personal-area-block-down-item {
  margin: 0 30px;
  border: 1px solid rgb(241, 241, 241);
  padding: 20px 25px;
  border-radius: 8px;
  justify-content: space-between;
}
.personal-area-content-item .personal-area-block-down-item:first-child {
  margin-top: 30px;
}
.personal-area-content-item .personal-area-block-down-item:last-child {
  margin-bottom: 30px;
}
.personal-area-content-item .personal-area-block-down-item .block-down-item-left-title {
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.personal-area-content-item .personal-area-block-down-item .block-down-item-left-title .moderate,
.personal-area-content-item .personal-area-block-down-item .block-down-item-left-title .publish {
  padding: 2px 10px 2px 6px;
  border-radius: 4px;
  background: #F5F8FF;
  align-items: center;
  color: rgb(23, 81, 208);
  font-size: 12px;
  font-weight: 500;
}
.personal-area-content-item .personal-area-block-down-item .block-down-item-left-title .moderate i,
.personal-area-content-item .personal-area-block-down-item .block-down-item-left-title .publish i {
  top: 2px;
}
.personal-area-content-item .personal-area-block-down-item .block-down-item-left-title .moderate {
  background: rgb(248, 248, 248);
  color: rgb(127, 125, 131);
}
.personal-area-content-item .personal-area-block-down-item .block-down-item-left-title .moderate i {
  color: rgb(201, 201, 204);
}
.personal-area-content-item .personal-area-block-down-item .block-down-item-left-title .moderate i:before {
  font-size: 18px;
}
.personal-area-content-item .personal-area-block-down-item .block-down-item-left-time {
  font-size: 12px;
  font-weight: 400;
  color: rgb(127, 125, 131);
}
.personal-area-content-item .personal-area-block-down-item .block-down-item-right {
  font-weight: 500;
  display: flex;
  align-items: center;
  background: rgb(248, 248, 248);
  color: rgb(23, 81, 208);
  padding: 12px 7px;
  border-radius: 4px;
}
.personal-area-content-item .personal-area-block-down-item .block-down-item-right img {
  padding: 0 10px;
}
.personal-area-content-item .personal-area-block-down p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(127, 125, 131);
  margin-bottom: 20px;
}
.personal-area-content-item .personal-area-block-down button {
  font-size: 16px;
  font-weight: 500;
  border: none;
  max-width: 170px;
}
.personal-area-content-item .personal-area-link,
.personal-area-content-item a {
  text-decoration: none;
  color: rgb(23, 81, 208);
}
.personal-area-content-item .personal-area-link {
  color: rgb(127, 125, 131);
  margin-bottom: 24px;
}

@media screen and (max-width: 850px) {
  .personal-area {
    margin-bottom: 80px;
  }
  .personal-area-content {
    flex-direction: column;
  }
  .personal-area-content-item .personal-area-block-up {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .block-down-item-left-title h4 {
    font-size: 14px;
  }
  .personal-area-content-item .personal-area-block-down-item .block-down-item-left-title {
    align-items: start;
    flex-direction: column;
  }
  .block-down-item-right {
    max-height: 50px;
  }
}
#app {
  max-width: 670px;
}
#app h2 {
  color: rgb(23, 81, 208);
  font-size: 30px;
  margin-bottom: 15px;
}
#app .sub-title {
  color: rgb(79, 77, 85);
  margin-bottom: 20px;
}
#app .btn {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  max-width: 260px;
  margin-bottom: 40px;
  gap: 8px;
  font-size: 16px;
}
#app .btn i {
  margin: 0;
}
#app .form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  position: relative;
}
#app .form-section .btn {
  max-width: 705px;
}
#app .form-section h2 {
  font-size: 20px;
  font-weight: 600;
  color: rgb(79, 77, 85);
}
#app .form-section textarea::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#app .form-section .text-area {
  padding: 12px;
  max-height: 120px;
  height: 110px;
}
#app .form-section .form-text-area {
  resize: none;
  height: 80px;
  padding: 10px 0 !important;
  overflow: hidden;
}
#app .form-section .disabled {
  border: 1px dashed rgb(201, 201, 204);
  background: rgb(241, 241, 241);
  opacity: 0.8;
}
#app .form-section .form-group-file {
  height: 82px;
  max-height: 82px;
  border: 1px dashed rgb(230, 230, 230);
}
#app .form-section .form-group-file.has-error {
  border: 1px dashed rgb(225, 33, 33);
}
#app .form-section .form-group-file.has-error .invalid-feedback {
  bottom: -90px;
}
#app .form-section .form-group-file.has-error:before {
  background-image: url("images/zip-error.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 666;
  left: 16px;
}
#app .form-section .form-group-file.has-error:before .form-label {
  top: 50%;
  transform: translateY(-50%);
}
#app .form-section .form-group-file:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  background: rgb(248, 248, 248);
  border-radius: 8px;
  background-image: url("images/Zip.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 24px;
  padding: 13px 15px;
}
#app .form-section .form-group-file input {
  display: none;
}
#app .form-section .form-group-file .form-label {
  color: rgb(79, 77, 85);
}
#app .form-section .form-group-file .form-label {
  left: 85px;
  top: 50%;
  transform: translateY(-50%);
}
#app .form-section .form-group-file .form-sub-label {
  color: rgb(201, 201, 204);
  position: absolute;
  top: 50px;
  left: 85px;
}

.form-group {
  border: 1px solid rgb(230, 230, 230);
  max-height: 60px;
  border-radius: 8px;
  position: relative;
  padding: 5px 0;
  padding-right: 30px;
  z-index: 666;
}
.form-group input:focus + .form-label,
.form-group textarea:focus + .form-label {
  top: 7px;
  font-size: 12px;
}
.form-group i {
  margin: 0;
  color: rgb(23, 81, 208);
  top: 23px;
  left: 28px;
}
.form-group .help-circle {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  right: -30px;
  background: url("images/help-circle-contained-filled.svg") no-repeat center;
  width: 24px;
  height: 24px;
}
.form-group .help-circle p {
  display: none;
  color: rgb(79, 77, 85);
}
.form-group .help-circle:hover p {
  display: block;
  background-color: rgb(248, 248, 248);
  max-width: 450px;
  width: 450px;
  margin-left: 40px;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 4px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.form-group .help-circle:hover p:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
  width: 6px;
  height: 14px;
  background: url("images/help-circle-flag.svg") no-repeat center;
}
.form-group .help-circle:hover p span {
  display: flex;
  margin-bottom: 15px;
}
.form-group .form-text-area,
.form-group .form-control {
  border: none;
  width: 100%;
  padding: 0 12px;
}
.form-group .form-control {
  height: 50px;
}
.form-group .form-label {
  position: absolute;
  top: 21px;
  left: 12px;
  color: rgb(127, 125, 131);
}
.form-group .form-file-delete {
  display: none;
}
.form-group .invalid-feedback {
  display: none;
}
.form-group .form-clear {
  display: none;
  border: none;
  background: none;
}
.form-group .form-clear i {
  cursor: pointer;
  position: absolute;
  left: auto;
  top: -2px;
  color: rgb(127, 125, 131);
  right: 0;
  z-index: 999;
}
.form-group .invalid-feedback,
.form-group .has-error {
  color: rgb(225, 33, 33);
}
.form-group.has-error {
  border: 1px solid rgb(225, 33, 33);
  margin-bottom: 40px;
}
.form-group.has-error .invalid-feedback {
  display: block;
  position: relative;
  bottom: -20px;
  left: 0;
  font-size: 12px;
}

@media screen and (max-width: 1000px) {
  .form-container {
    padding: 0 35px;
  }
  .form-container h2 {
    font-size: 24px !important;
  }
  .form-container .form-section h2 {
    font-size: 16px !important;
    margin-bottom: 5px !important;
  }
  .form-container .form-section .form-group {
    z-index: unset;
  }
  .form-container .form-section .form-group .form-label {
    font-size: 14px;
  }
  .form-container .form-section .form-group .help-circle p {
    z-index: 1000000000000000;
  }
  .form-container .form-section .form-group .help-circle:hover p {
    width: 340px;
    transform: none !important;
    top: 150% !important;
    left: -360px !important;
    z-index: 9999;
  }
  .form-container .form-section .form-group .help-circle:hover p:before {
    top: -8px;
    transform: rotate(90deg);
    left: auto;
    right: 7px;
    background: url(images/help-circle-flag.svg) no-repeat center;
  }
}
.wrapper-register {
  background: rgb(241, 241, 241);
}

.register {
  display: flex;
  justify-content: center;
}
.register-content {
  margin-bottom: 75px;
  max-width: 520px;
  width: 100%;
  padding: 40px 30px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  text-align: center;
}
.register-content-reset {
  margin-top: 30px;
  margin-bottom: 79px;
}
.register-content .sub-title {
  margin-bottom: 20px;
  color: rgb(79, 77, 85);
}
.register-content-ok .btn {
  max-width: 240px;
  margin: 0 auto;
}
.register-content-confirm {
  padding: 247px 80px;
}
.register-content-confirm .email-confirm {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgb(241, 241, 241);
  position: relative;
  border-radius: 4px;
  margin-bottom: 20px;
}
.register-content-confirm .email-confirm i {
  color: rgb(23, 81, 208);
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 10px;
}
.register-content-confirm p {
  color: rgb(79, 77, 85);
}
.register-content h1 {
  color: rgb(23, 81, 208);
  margin-bottom: 20px;
}
.register-content .form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.register-content .form-section .btn-reset {
  margin: 0 auto;
  max-width: 240px;
}
.register-content .form-section .reset-password {
  font-size: 12px;
  color: rgb(127, 125, 131);
  text-align: right;
}
.register-content .form-section .form-group {
  position: relative;
}
.register-content .form-section .form-group i {
  position: absolute;
  right: 10px;
  top: 20px;
  left: auto;
  color: rgb(201, 201, 204);
}
.register-content .form-section .form-group i:before {
  font-size: 30px;
}
.register-content .form-section .form-group .form-control {
  font-size: 16px;
}
.register-content .form-section .form-group-checkbox {
  display: flex;
  text-align: start;
  border: none;
  font-size: 14px;
  gap: 5px;
  position: relative;
  padding-left: 30px;
}
.register-content .form-section .form-group-checkbox label {
  color: rgb(127, 125, 131);
}
.register-content .form-section .form-group-checkbox input {
  display: none;
}
.register-content .form-section .form-group-checkbox .checkbox-data {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(230, 230, 230);
  left: 0;
  border-radius: 4px;
}
.register-content .form-section .form-group-checkbox .checkbox-data i {
  display: none;
}
.register-content .form-section .form-group-checkbox input:checked + .checkbox-data {
  background: rgb(23, 81, 208);
}
.register-content .form-section .form-group-checkbox input:checked + .checkbox-data i {
  position: relative;
  display: block;
}
.register-content .form-section .form-group-checkbox input:checked + .checkbox-data i:before {
  top: -36px;
  left: 12px;
  color: rgb(255, 255, 255);
}
.register-content .form-section .btn {
  font-size: 18px;
  font-weight: 500;
}
.register-content .form-section .btn:disabled {
  background: rgb(241, 241, 241);
  color: rgb(201, 201, 204);
}
.register-content .form-section .login-acc {
  text-decoration: none;
  color: rgb(23, 81, 208);
}
.register-content .form-section .login-acc span {
  color: rgb(127, 125, 131);
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .register-content {
    max-width: inherit;
    padding: 0;
  }
  .register-content .form-section .form-group-checkbox label {
    font-size: 11px;
  }
  .wrapper-register {
    background: white;
  }
}
.table-background {
  background: rgb(248, 248, 248);
}

.leaderboard {
  margin-bottom: 100px;
}
.leaderboard h1 {
  font-size: 45px;
  font-weight: 500;
  color: rgb(23, 81, 208);
  margin-bottom: 20px;
}
.leaderboard-content {
  max-width: 670px;
}
.leaderboard-content .click-submit {
  color: rgb(23, 81, 208);
  font-weight: 600;
}
.leaderboard-content p {
  color: rgb(79, 77, 85);
  margin-bottom: 20px;
}
.leaderboard-content p:last-child {
  margin-bottom: 40px;
}
.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 8px;
}
.leaderboard th {
  position: relative;
}
.leaderboard th:nth-child(3) {
  color: rgb(10, 9, 11) !important;
}
.leaderboard th i {
  position: absolute;
  top: 2px;
  right: -5px;
  color: rgb(201, 201, 204);
}
.leaderboard th .icon-arrow-down {
  top: auto;
  bottom: 2px;
}
.leaderboard th, .leaderboard td {
  padding: 16px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
.leaderboard th:nth-child(3), .leaderboard td:nth-child(3) {
  border-right: 1px solid rgb(241, 241, 241);
  font-weight: bold;
  color: rgb(79, 77, 85);
}
.leaderboard td {
  font-weight: normal;
  padding: 8px 16px;
}
.leaderboard td:first-child {
  color: rgb(79, 77, 85);
}
.leaderboard td p {
  text-align: start;
  margin-bottom: 4px;
  color: rgb(23, 81, 208);
  font-weight: bold;
}
.leaderboard td p:last-child {
  margin-bottom: 0;
}
.leaderboard td .sub-title {
  font-size: 10px;
  color: rgb(127, 125, 131);
  font-weight: normal;
}
.leaderboard th {
  border-bottom: 1px solid rgb(241, 241, 241);
}

.submit h1, .submit h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(23, 81, 208);
  font-weight: bold;
}
.submit h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.submit .button-submit-header {
  align-items: center;
  gap: 10px;
}
.submit .button-submit-header button {
  height: 40px;
  padding: 0 44px 0 15px;
  text-align: center;
  font-weight: 500;
  position: relative;
  font-size: 16px;
}
.submit .button-submit-header button i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.submit .btn-delete,
.submit .btn-download {
  max-width: 126px;
}
.submit .btn-delete i,
.submit .btn-download i {
  right: 15px !important;
}
.submit .btn-delete i {
  top: 47% !important;
  right: 10px !important;
}
.submit .btn-delete i:before {
  font-size: 28px !important;
}
.submit .btn-edit i {
  top: 45% !important;
  right: 12px !important;
}
.submit .btn-public {
  display: block;
  max-width: 222px !important;
  padding-right: 120px !important;
  text-wrap: nowrap;
}
.submit .btn-public i {
  right: 15px !important;
}
.submit-sub-title {
  display: block;
  margin-bottom: 40px;
  color: rgb(127, 125, 131);
}
.submit-content {
  display: flex;
  gap: 40px;
}
.submit-content-item:first-child {
  flex-basis: 60%;
}
.submit-content-item:first-child .leaderboard-table {
  margin-bottom: 40px;
}
.submit-content-item:first-child .leaderboard-table-second .title-result {
  border-top: 1px solid rgb(230, 230, 230);
  padding-top: 16px;
  color: rgb(79, 77, 85);
  margin-bottom: 8px;
}
.submit-content-item:first-child .leaderboard-table-second .title-result,
.submit-content-item:first-child .leaderboard-table-second .result-table {
  font-weight: normal;
}
.submit-content-item:first-child .leaderboard-table-second .result-table {
  color: rgb(127, 125, 131);
  max-width: 200px;
}
.submit-content-item:first-child .leaderboard-table-second .table-moral {
  border-collapse: collapse;
  margin-bottom: 20px;
}
.submit-content-item:first-child .leaderboard-table-second .table-moral th {
  border-bottom: none;
  padding: 0 0 4px;
  color: rgb(127, 125, 131) !important;
  font-weight: normal;
}
.submit-content-item:first-child .leaderboard-table-second .table-moral th:nth-child(3) {
  border-right: none;
}
.submit-content-item:first-child .leaderboard-table-second .table-moral td {
  padding: 2px 0;
  text-align: center;
}
.submit-content-item:first-child .leaderboard-table-second .table-moral td:first-child {
  border-bottom: 1px solid rgb(230, 230, 230);
  text-align: start;
}
.submit-content-item:first-child .leaderboard-table-second .table-moral td:nth-child(3) {
  border-right: none;
}
.submit-content-item:first-child .leaderboard-table-second th, .submit-content-item:first-child .leaderboard-table-second td {
  width: 120px !important;
}
.submit-content-item:first-child .leaderboard-table th, .submit-content-item:first-child .leaderboard-table td {
  text-align: start;
  width: 214px;
  padding: 16px;
}
.submit-content-item:first-child .leaderboard-table td {
  max-width: 213px;
  text-wrap: wrap;
  color: rgb(79, 77, 85);
}
.submit-content-item:first-child .leaderboard-table td ul {
  list-style: none;
}
.submit-content-item:first-child .leaderboard-table td:nth-child(3) {
  color: rgb(79, 77, 85);
  font-weight: normal;
}
.submit-content-item:last-child {
  flex-basis: 40%;
}
.submit-content-item:last-child div:first-child {
  padding-top: 0;
}
.submit-content-item:last-child .submit-right-item {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-top: 15px;
  color: rgb(79, 77, 85);
}
.submit-content-item:last-child .submit-right-item h4 {
  padding-left: 15px;
  position: relative;
  margin-bottom: 5px;
}
.submit-content-item:last-child .submit-right-item h4:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 5px;
  left: 0;
  background: url("images/bullet.svg") no-repeat center;
}
.submit-content-item:last-child .submit-right-item a {
  color: rgb(23, 81, 208);
}

.modal-delete .modal-content,
.modal-submit .modal-content {
  max-width: 500px;
  max-height: 215px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-delete .modal-content h1,
.modal-submit .modal-content h1 {
  font-size: 24px;
  color: rgb(23, 81, 208);
  margin-bottom: 10px;
}
.modal-delete .modal-content p,
.modal-submit .modal-content p {
  color: rgb(79, 77, 85);
  margin-bottom: 20px;
  text-align: center;
}
.modal-delete .modal-content i,
.modal-submit .modal-content i {
  cursor: pointer;
  color: rgb(201, 201, 204);
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-delete .modal-content .btn,
.modal-submit .modal-content .btn {
  max-width: 190px;
  padding: 14px 65px;
  font-size: 16px;
  font-weight: 500;
}
.modal-delete .modal-content .btn-delete,
.modal-submit .modal-content .btn-delete {
  color: rgb(10, 9, 11);
  background: rgb(230, 230, 230);
}
.modal-delete .modal-content .modal-button,
.modal-submit .modal-content .modal-button {
  gap: 10px;
}

.number li {
  font-weight: bold;
  margin-bottom: 4px;
}
.number li:last-child {
  margin-bottom: 0;
}

.p-number {
  color: rgb(79, 77, 85) !important;
}

.gray-text p {
  color: rgb(79, 77, 85) !important;
  font-weight: normal !important;
}
.gray-text p:first-child {
  font-weight: bold !important;
}

.edit-submit-header {
  align-items: center;
  position: relative;
}
.edit-submit .sub-title {
  width: 85%;
}
.edit-submit .go-to-back {
  color: rgb(127, 125, 131);
  position: absolute;
  top: 12px;
  right: -30px;
}
.edit-submit .form-section .btn:disabled {
  color: rgb(201, 201, 204);
  background: rgb(241, 241, 241);
}

.container {
  position: relative;
}

.cookie {
  position: absolute;
  bottom: 20px;
  right: 0;
  max-width: 600px;
  background: rgb(248, 248, 248);
  padding: 20px 30px;
  border-radius: 8px;
}
.cookie i {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  color: rgb(79, 77, 85);
}
.cookie p {
  color: rgb(79, 77, 85);
  margin-bottom: 20px;
}
.cookie button {
  width: 95px;
  padding: 10px 16px;
  font-size: 16px;
}

.not-found {
  padding: 100px 80px;
}
.not-found p {
  margin-bottom: 20px;
}
.not-found button {
  max-width: 222px;
  margin: 0 auto;
  font-size: 16px;
}

.tasks .btn-download-all {
  position: relative;
  max-width: 217px;
  max-height: 48px;
  font-size: 16px;
  padding-right: 40px;
}
.tasks .btn-download-all i {
  position: absolute;
  top: 12px;
  right: 20px;
}
.tasks th, .tasks td {
  text-align: start;
}
.tasks td {
  color: rgb(79, 77, 85);
  max-width: 200px;
}
.tasks td a {
  color: rgb(23, 81, 208);
}
.tasks th:nth-child(3) {
  border-right: none;
}
.tasks td:nth-child(3) {
  font-weight: normal;
  border-right: none;
}

.footer {
  padding: 100px 0 90px 0;
  background: #F9F9F9;
}
.footer-content {
  justify-content: space-between;
  gap: 100px;
}
.footer-content-item .email {
  font-size: 24px;
  font-weight: 500;
}
.footer-content-item p {
  color: rgb(23, 81, 208);
  font-size: 100px;
  font-weight: 900;
}
.footer-content-item a {
  text-decoration: none;
  color: rgb(127, 125, 131);
}
.footer-content-item div {
  flex-direction: column;
  gap: 15px;
}
.footer-content-item ul {
  gap: 67px;
  list-style: none;
}
.footer-content-item ul a {
  color: rgb(127, 125, 131);
  text-decoration: none;
}
.footer-content-item:first-child {
  gap: 50px;
  flex-basis: 70%;
  flex-direction: column;
}
.footer-content-item:last-child {
  gap: 56px;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 60px 0 90px 0;
  }
  .footer-content {
    flex-direction: column;
    gap: 40px;
  }
  .footer-content-item:first-child {
    gap: 80px;
    position: relative;
  }
  .footer-content-item .email {
    position: absolute;
    top: 140px;
    left: 20px;
  }
  .footer-content-item ul {
    flex-direction: column;
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
