* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin: 0 auto;

}

body {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
}

.d-flex {
  display: flex;
}

.btn {
  text-align: center;
  display: block;
  border-radius: 6px;
  text-decoration: none;
  color: $white;
  background: $blue;
  padding: 14px 0;
  width: 100%;
}

.custom-prev,
.custom-next {
  cursor: pointer;
  position: absolute;
  top: -60px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  content: '';
}

.custom-prev {
  right: 65px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;

  h2 {
    font-size: 20px;
    font-weight: 600;
    color: $gray1;
  }

  .form-group {
    border: 1px solid $gray4;
    max-height: 60px;
    border-radius: 8px;
    position: relative;
    padding: 5px 0;
    margin-right: 30px;

    .help-circle {
      cursor: pointer;
      position: absolute;
      display: block;
      top: 0;
      right: -30px;
      background: url("images/help-circle-contained-filled.svg") no-repeat center;
      width: 24px;
      height: 24px;

      p {
        display: none;
        color: $gray1;

      }
    }

    .help-circle:hover {
      p {
        display: block;
        background-color: $gray0;
        max-width: 450px;
        width: 450px;
        margin-left: 40px;
        padding: 8px 10px;
        font-size: 12px;
        border-radius: 4px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -5px;
          width: 6px;
          height: 14px;
          background: url("images/help-circle-flag.svg") no-repeat center;
        }

        span {
          display: flex;
          margin-bottom: 15px;
        }
      }
    }

    .form-text-area,
    .form-control {
      border: none;
      width: 100%;
      padding: 0 12px;
    }

    .form-control {
      height: 50px;
    }

    .form-label {
      position: absolute;
      top: 21px;
      left: 12px;
      color: $gray2;
    }

    .form-file-delete {
      display: none;
    }

    .form-file-delete,
    .form-clear {
      position: absolute;
      top: 6px;
      right: 6px;
      color: $gray3;
      background: url("images/icon-close.svg") no-repeat center;
      width: 14px;
      height: 14px;
      border: none;
      cursor: pointer;
    }

    .invalid-feedback {
      display: none;
    }


    .invalid-feedback,
    .has-error {
      color: $red;
    }

    &.has-error {
      border: 1px solid $red;
      margin-bottom: 40px;

      .invalid-feedback {
        display: block;
        position: relative;
        bottom: -20px;
        left: 0;
        font-size: 12px;
      }
    }
  }

  textarea::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .text-area {
    padding: 12px;
    max-height: 120px;
    height: 110px;

  }

  .form-text-area {
    resize: none;
    height: 80px;
    padding: 10px 0 !important;
    overflow: hidden;

  }

  .disabled {
    border: 1px dashed $gray3;
    background: $gray5;
    opacity: .8;
  }

  .form-group-file {
    height: 82px;
    max-height: 82px;
    border: 1px dashed $gray4;


    &.has-error {
      border: 1px dashed $red;

      .invalid-feedback {
        bottom: -90px;
      }

    }

    &.has-error:before {
      background-image: url("images/zip-error.svg");
      background-repeat: no-repeat;
      background-position: center;
      z-index: 666;
      left: 16px;

      .form-label {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      background: $gray0;
      border-radius: 8px;
      background-image: url("images/Zip.svg");
      background-repeat: no-repeat;
      background-position: center;

      width: 20px;
      height: 24px;
      padding: 13px 15px;
    }

    input {
      display: none;
    }

    .form-label {
      color: $gray1;
    }

    .form-label {
      left: 85px;
      top: 50%;
      transform: translateY(-50%);
    }

    .form-sub-label {
      color: $gray3;
      position: absolute;
      top: 50px;
      left: 85px;

    }
  }
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.modal-content {
  position: relative;
  overflow: hidden;
  background: $light-white;
  border-radius: 8px;
  max-width: 1160px;
  width: 100%;
  max-height: 550px;
  height: 100%;
  padding: 40px;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: url("images/btn-close.svg") no-repeat center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

i {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

i:before {
  position: relative;
  font-size: 24px;
  top: -2px;
}

.modal-image {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
    height: 100px;
    object-fit: cover;

  }
}

.open {
  display: flex;
}


@media screen and (max-width: 1260px) {
  .container {
    padding: 0 20px;

  }
}
