#app {
 max-width: 670px;

  h2 {
    color: $blue;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .sub-title {
    color: $gray1;
    margin-bottom: 20px;
  }

  .btn {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    max-width: 260px;
    margin-bottom: 40px;
    gap: 8px;
    font-size: 16px;

    i {
      margin: 0;
    }
  }

  .form-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    position: relative;

    .btn {
      max-width: 705px;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      color: $gray1;
    }



    textarea::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    .text-area {
      padding: 12px;
      max-height: 120px;
      height: 110px;

    }

    .form-text-area {
      resize: none;
      height: 80px;
      padding: 10px 0 !important;
      overflow: hidden;

    }

    .disabled {
      border: 1px dashed $gray3;
      background: $gray5;
      opacity: .8;
    }

    .form-group-file {
      height: 82px;
      max-height: 82px;
      border: 1px dashed $gray4;


      &.has-error {
        border: 1px dashed $red;

        .invalid-feedback {
          bottom: -90px;
        }

      }

      &.has-error:before {
        background-image: url("images/zip-error.svg");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 666;
        left: 16px;

        .form-label {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        background: $gray0;
        border-radius: 8px;
        background-image: url("images/Zip.svg");
        background-repeat: no-repeat;
        background-position: center;

        width: 20px;
        height: 24px;
        padding: 13px 15px;
      }

      input {
        display: none;
      }

      .form-label {
        color: $gray1;
      }

      .form-label {
        left: 85px;
        top: 50%;
        transform: translateY(-50%);
      }

      .form-sub-label {
        color: $gray3;
        position: absolute;
        top: 50px;
        left: 85px;

      }
    }
  }
}
.form-group {
  border: 1px solid $gray4;
  max-height: 60px;
  border-radius: 8px;
  position: relative;
  padding: 5px 0;
  padding-right: 30px;
  z-index: 666;

  input:focus + .form-label,
  textarea:focus + .form-label{
    top: 7px;
    font-size: 12px;
  }

  i {
    margin: 0;
    color: $blue;
    top: 23px;
    left: 28px;
  }

  .help-circle {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    right: -30px;
    background: url("images/help-circle-contained-filled.svg") no-repeat center;
    width: 24px;
    height: 24px;

    p {
      display: none;
      color: $gray1;

    }
  }

  .help-circle:hover {
    p {
      display: block;
      background-color: $gray0;
      max-width: 450px;
      width: 450px;
      margin-left: 40px;
      padding: 8px 10px;
      font-size: 12px;
      border-radius: 4px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -5px;
        width: 6px;
        height: 14px;
        background: url("images/help-circle-flag.svg") no-repeat center;
      }

      span {
        display: flex;
        margin-bottom: 15px;
      }
    }
  }

  .form-text-area,
  .form-control {
    border: none;
    width: 100%;
    padding: 0 12px;
  }

  .form-control {
    height: 50px;
  }

  .form-label {
    position: absolute;
    top: 21px;
    left: 12px;
    color: $gray2;
  }

  .form-file-delete {
    display: none;
  }

  .invalid-feedback {
    display: none;
  }

  .form-clear {
    display: none;
    border: none;
    background: none;

    i {
      cursor: pointer;
      position: absolute;
      left: auto;
      top: -2px;
      color: $gray2;
      right: 0;
      z-index: 999;
    }
  }

  .invalid-feedback,
  .has-error {
    color: $red;
  }

  &.has-error {
    border: 1px solid $red;
    margin-bottom: 40px;

    .invalid-feedback {
      display: block;
      position: relative;
      bottom: -20px;
      left: 0;
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 1000px){
  .form-container {
    padding: 0 35px ;
    h2 {
      font-size: 24px !important;
    }
    .form-section {
      h2 {
        font-size: 16px !important;
        margin-bottom: 5px !important;
      }
      .form-group {
        z-index: unset;
        .form-label {
          font-size: 14px;
        }
        .help-circle {
          p {
            z-index: 1000000000000000;
          }
        }
        .help-circle:hover p{
          width: 340px;

          transform: none !important;
          top: 150% !important;
          left: -360px !important;
          z-index: 9999;
          &:before {
            top: -8px;
            transform: rotate(90deg);
            left: auto;
            right: 7px;
            background: url(images/help-circle-flag.svg) no-repeat center;
          }
        }
      }
    }
  }
}