.header {
  padding: 15px 0;
  border-bottom: 1px solid $gray4;
  &-content {
    align-items: center;
    justify-content: space-between;
    .git-and-login {
      gap: 30px;
      .login {
        align-items: center;
        gap: 4px;
        a {
          color: $gray1;
          text-decoration: none;
        }
      }
    }

    .nav-menu {
      list-style-type: none;
      gap: 30px;

      a {
        text-decoration: none;
        color: $gray1;
        padding-bottom: 5px;
        line-height: 20.8px;
      }

      a.active,
      a:hover {
        color: $blue;
        font-weight: 500;
        border-bottom: 1px solid $blue;
      }

    }
  }
}
@media screen and (max-width: 1000px) {

}