@import 'fonts';
@import 'color';
@import 'common';
@import 'header';
@import 'banner';
@import 'problems';
@import 'about-project';
@import 'participants';
@import 'about-us';
@import 'question';
@import 'personal-area';
@import 'form';
@import 'register';
@import 'leaderboard';
@import 'submit';
@import 'edit-submit';
@import 'not-found';
@import 'tasks';
@import 'footer';
