.container {
  position: relative;
}

.cookie {
  position: absolute;
  bottom: 20px;
  right: 0;
  max-width: 600px;
  background: $gray0;
  padding: 20px 30px;
  border-radius: 8px;
  i {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    color: $gray1;
  }
  p {
    color: $gray1;
    margin-bottom: 20px;
  }
  button {
    width: 95px;
    padding: 10px 16px;
    font-size: 16px;
  }
}

.not-found {
  padding: 100px 80px;

  p {
    margin-bottom: 20px;
  }

  button {
    max-width: 222px;
    margin: 0 auto;
    font-size: 16px;
  }
}