.participants {
  position: relative;
  margin-bottom: 100px;
  .custom-prev.slick-disabled,
  .custom-next.slick-disabled {
    i {
      color: $gray3;
    }
  }
  .custom-prev {
    i {
      left: -1px;

    }
  }

  .custom-next {
    i {
      left: 1px;
    }
  }

  i {
    color: $blue;
  }

  .slider {
    width: 100%;
  }

  .slide {
    flex-basis: 25%;
    background: $gray0;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 15px;
    flex-direction: column;
    border-radius: 8px;

    h3 {
      color: $gray1;
      margin-bottom: 10px;
    }

    p {
      color: $gray2;
      font-size: 14px;
    }
  }

  .slick-slide {
    margin: 0 15px;
    padding: 20px 15px;
  }

  .slide img {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 460px) {
  .participants {
    h2 {
      margin-bottom: 75px;
    }
    .slider {
      .custom-prev,
      .custom-next {
        right: auto;
        left: 0;
      }
      .custom-next {
        left: 50px;
      }
      .slick-slide {
        margin: 0 30px 0 0;
      }
    }
  }
}
