.main-content {
  .problems {
    margin-bottom: 100px;
    &-content {
      &-list {
        gap: 20px;
      }
      &-item {
        flex-basis: 33.3333%;
        padding: 20px;
        border-radius: 8px;
        background: $gray0;
        .blue-square {
          margin-bottom: 45px;
        }
      }
    }
  }
  h2 {
    color: $blue;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .blue-square {
    background: $blue;
    border-radius: 6px;
    max-width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    .white-circle {
      background: $white;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
}