.question {
  margin-bottom: 100px;
    h1 {
      font-size: 45px;
      font-weight: 500;
      padding-bottom: 30px;
      border-bottom: 1px solid $gray4;
      margin-bottom: 25px;
    }
  &-item  {
    position: relative;
    margin-bottom: 25px;
    border-bottom: 1px solid $gray4;
    color: $gray2;
    .custom-next {
      top: -10px;
      right: 0;
      i:before {
        color: $blue;
        left: 1px;
      }
    }
    h2 {
      position: relative;
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
      color: $gray1;
      cursor: pointer;
      z-index: 666666;
    }
    p {
      max-width: 800px;
      display: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .open-text {
      display: block;
      padding-bottom: 30px;
    }
  }
}