.wrapper-register {
  background: $gray5;
}

.register {
  display: flex;
  justify-content: center;

  &-content {
    margin-bottom: 75px;
    max-width: 520px;
    width: 100%;
    padding: 40px 30px;
    border-radius: 8px;
    background: $white;
    text-align: center;

    &-reset {
      margin-top: 30px;
      margin-bottom: 79px;
    }

    .sub-title {
      margin-bottom: 20px;
      color: $gray1;
    }

    &-ok {

      .btn {
        max-width: 240px;
        margin: 0 auto;
      }
    }

    &-confirm {
      padding: 247px 80px;

      .email-confirm {
        display: inline-block;
        width: 44px;
        height: 44px;
        background-color: $gray5;
        position: relative;
        border-radius: 4px;
        margin-bottom: 20px;

        i {
          color: $blue;
          position: absolute;
          top: 55%;
          transform: translateY(-50%);
          left: 10px;
        }
      }

      p {
        color: $gray1;
      }
    }

    h1 {
      color: $blue;
      margin-bottom: 20px;
    }

    .form-section {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .btn-reset {
        margin: 0 auto;
        max-width: 240px;
      }

      .reset-password {
        font-size: 12px;
        color: $gray2;
        text-align: right;
      }

      .form-group {
        position: relative;

        i {
          position: absolute;
          right: 10px;
          top: 20px;
          left: auto;
          color: $gray3;

          &:before {
            font-size: 30px;
          }
        }

        .form-control {
          font-size: 16px;
        }

        &-checkbox {
          display: flex;
          text-align: start;
          border: none;
          font-size: 14px;
          gap: 5px;
          position: relative;
          padding-left: 30px;
          label {
            color: $gray2;
          }
          input {
            display: none;
          }

          .checkbox-data {
            position: absolute;
            width: 20px;
            height: 20px;
            border: 1px solid $gray4;
            left: 0;
            border-radius: 4px;

            i {

              display: none;
            }
          }

          input:checked + .checkbox-data {
            background: $blue;

            i {
              position: relative;
              display: block;

              &:before {
                top: -36px;
                left: 12px;
                color: $white;
              }
            }
          }
        }

      }

      .btn {
        font-size: 18px;
        font-weight: 500;
      }

      .btn:disabled {
        background: $gray5;
        color: $gray3;
      }

      .login-acc {
        text-decoration: none;
        color: $blue;

        span {
          color: $gray2;
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .register-content {
    max-width: inherit;
    padding: 0;
    .form-section .form-group-checkbox label {
      font-size: 11px;
    }
  }
  .wrapper-register {
    background: white;
  }

}