.submit {
  h1, h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: $blue;
    font-weight: bold;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .button-submit-header {
    align-items: center;
    gap: 10px;

    button {
      height: 40px;
      padding: 0 44px 0 15px;
      text-align: center;
      font-weight: 500;
      position: relative;
      font-size: 16px;

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;

      }
    }
  }

  .btn-delete,
  .btn-download {
    max-width: 126px;

    i {
      right: 15px !important;
    }
  }

  .btn-delete {
    i {
      top: 47% !important;
      right: 10px !important;

      &:before {
        font-size: 28px !important;
      }
    }
  }

  .btn-edit {
    max-width: 180px;
    i {
      top: 45% !important;
      right: 12px !important;
    }

  }

  .btn-public {
    display: block;
    max-width: 222px !important;
    padding-right: 120px !important;
    text-wrap: nowrap;

    i {
      right: 15px !important;
    }
  }

  &-sub-title {
    display: block;
    margin-bottom: 40px;
    color: $gray2;
  }

  &-content {
    display: flex;
    gap: 40px;

    &-item:first-child {
      flex-basis: 60%;

      .leaderboard-table {
        &-second {
          .title-result {
            border-top: 1px solid $gray4;
            padding-top: 16px;
            color: $gray1;
            margin-bottom: 8px;
          }

          .title-result,
          .result-table {
            font-weight: normal;
          }

          .result-table {
            color: $gray2;
            max-width: 200px;
          }

          .table-moral {
            border-collapse: collapse;
            margin-bottom: 20px;

            th {
              border-bottom: none;
              padding: 0 0 4px;
              color: $gray2 !important;
              font-weight: normal;

              &:nth-child(3) {
                border-right: none;
              }
            }

            td {
              padding: 2px 0;
              text-align: center;

              &:first-child {
                border-bottom: 1px solid $gray4;
                text-align: start;
              }

              &:nth-child(3) {
                border-right: none;
              }
            }
          }

          th, td {
            width: 120px !important;
          }

        }

        th, td {
          text-align: start;
          width: 214px;
          padding: 16px;
        }

        td {
          max-width: 213px;
          text-wrap: wrap;
          color: $gray1;

          ul {
            list-style: none;

            li {

            }
          }

          &:nth-child(3) {
            color: $gray1;
            font-weight: normal;
          }
        }
      }
    }

    &-item {
      .leaderboard-table {
        th:nth-child(3),
        td:nth-child(3) {
          border-right: none;
        }
      }
    }

    &-item:last-child {
      flex-basis: 40%;

      div:first-child {
        padding-top: 0;
      }

      .submit-right-item {
        padding-bottom: 15px;
        border-bottom: 1px solid $gray4;
        padding-top: 15px;
        color: $gray1;

        h4 {
          padding-left: 15px;
          position: relative;
          margin-bottom: 5px;

          &:before {
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            top: 5px;
            left: 0;
            background: url("images/bullet.svg") no-repeat center;
          }
        }

        a {
          color: $blue;
        }
      }


    }

  }

}

.modal-delete,
.modal-submit {
  .modal-content {
    max-width: 500px;
    max-height: 215px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 24px;
      color: $blue;
      margin-bottom: 10px;
    }

    p {
      color: $gray1;
      margin-bottom: 20px;
      text-align: center;
    }

    i {
      cursor: pointer;
      color: $gray3;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .btn {
      max-width: 190px;
      padding: 14px 65px;
      font-size: 16px;
      font-weight: 500;
    }

    .btn-delete {
      color: $black;
      background: $gray4;
    }

    .modal-button {
      gap: 10px;
    }
  }
}

.number {
  li {
    font-weight: bold;
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.p-number {
  color: $gray1 !important;
}

.gray-text {
  p {
    color: $gray1 !important;
    font-weight: normal !important;
  }

  p:first-child {
    font-weight: bold !important;
  }
}

@media screen and (max-width: 850px) {
  .submit {
    .mobile-submit {
      flex-direction: column;
      .button-submit-header {
        flex-wrap: wrap;
        margin-bottom: 40px;
      }
    }

    &-content {
      flex-direction: column;
      &-item {
        .submit-right-item {
          font-size: 14px;
        }
        .mobile-leaderboard-first {
          margin-bottom: 60px;
        }
        th, td {
          font-size: 13px !important;
        }
        &:first-child {
          order: 2;
        }
      }
    }
  }

}